<html>
    <body>
            <% include header.ejs%>
        welcome to contact page
        <form method="POST" action="/contact">
            <input type="text" name="text1">
            <input type="text" name="text2">
            <input type="submit" value="submit">
        </form>
    </body>
</html>